/* 
    Document   : style
    Created on : 28.05.2013, 9:20:58
    Author     : g-dogg
    Description:
        Purpose of the stylesheet follows.
*/

* { 
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: darkslateblue;
    color: lemonchiffon;
    font: normal 1em arial, helvetica, sans-serif;
    height: 100%;
}

header, nav, section, article, aside, footer {
    display: block;
    position: relative;
}

form {
    margin: 0 auto;
}

input {
    background: cadetblue;
    color: lightslategrey;
    
}

select {
    color: coral;
    background: darkslateblue;
    font: normal 30px arial, helvetica, sans-serif;
    display: block;
    float: left;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-color: coral;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 100%;
}

td {
    border-color: coral;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.container {
    margin: 0 auto;
    min-height: 100%;
    min-width: 960px;
    width: 1400px;
}

.container p {
    display: block;
    font: normal 2em sans-serif;
    margin: 0 auto;
    text-align: center;
}



.hallchecked, .submit, .ok {
    color: lemonchiffon;
    padding: 6px 10px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px rgb(31, 55, 100);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 20, 61)), to(rgb(31, 53, 99)));
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    /*text-shadow: 0px 1px 1px rgba(255,255,255,1);*/
}

.hallchecked:hover, .submit:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(31, 53, 99)), to(rgb(0, 20, 61)));
}

.hallchecked, .submit {
    height: 36px;
    width: 200px;
    margin: 20px auto;
}