/* 
    Document   : style
    Created on : 28.05.2013, 9:20:58
    Author     : g-dogg
    Description:
        Purpose of the stylesheet follows.
*/

* { 
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #6b6c70;
    color: #f5c698;
    font: normal 1em Candara, sans-serif;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1;
}

header, nav, section, article, aside, footer, select, .hallchecked, .submit, .ok, .upload {
    display: block;
    position: relative;
}

@font-face {
    font-family: CabinSketch;
    src: url(fonts/CabinSketch-Regular.ttf);
}

@font-face {
    font-family: Candara;
    src: url(fonts/Candara.ttf);
}

h1 {
    font-size: 90px;
}

h6 {
    font-size: 20px;
}

header h1 {
    float: left;
    margin: 50px 0 20px;
}

header h6 {
    margin: 40px 0 0 20px;
}

header {
    color: #f5c698;
    background: url(img/gerb_VASRF.png) right top no-repeat;
    border-bottom: 2px #f5c698 solid;
    float: left;
    font-family: CabinSketch;
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
}

form {
    margin: 0 auto;
}

input {
    background: #f5c698;
    color: #6b6c70;
    font-family: Candara;
    
}

select {
    background: #f5c698;
    border: none;
    color: #6b6c70;
    cursor: pointer;
    float: left;
    font: normal 30px Candara, helvetica, sans-serif;
    margin: 20px 0 20px;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-color: #f5c698;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 100%;
}

td {
    border-color: #f5c698;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.container {
    margin: 0 auto;
    min-height: 100%;
    min-width: 960px;
    width: 1400px;
}

.container p {
    display: block;
    font: normal 2em Candara,sans-serif;
    margin: 0 auto;
    text-align: center;
}

.upload {
    margin: 0 auto;
    padding: 20px;
    height: 400px;
    width: 100%;
    outline: none;
}


.upload input[type="file"] {
    background: #f5c698 !important;
    border: none;
    width: 600px;
    position: relative;
    margin: 0 auto;
}


.upload input[type="file"]::-webkit-file-upload-button {
    display: block;
    margin-left: 420px;
    height: 30px;
    font-family: Candara;
    border: none;
    overflow: auto;
    width: 180px;
}

.upload input[type="submit"] {
    background: #f5c698 !important;
    border: none;
    color: #6b6c70;
    display: block;
    font: 22px Candara,sans-serif;
    height: 30px;
    padding: 5px 10px 5px 10px;
    width: 140px;
    position: relative;
    margin: 0 auto;
}

.hallchecked, .submit, .ok {
    border: none;
    color: #6b6c70;
    padding: 6px 10px;
    -webkit-border-radius: 2px 2px;
    background: #f5c698;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.hallchecked:hover, .submit:hover {
    border: 4px #f5c698 ridge;
}

.hallchecked, .submit {
    height: 36px;
    width: 200px;
    margin: 20px auto;
}